*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* PRIMER INTENTO DE MODO OSCURO */
/* +++++++++++++++++++
HEADER
+++++++++++++++++++ */
.header{
    background-color: #191e2b;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*//////// ESTILADO POR ETIQUETA */
h1{
    font-size: 1.8em;
    margin: 10px;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    margin-top: 0;
}
h3{
    font-size: .8em;
    margin: 5px 0;
}
input, textarea, select{
    display: block;
    outline: 0;
    border: 0;
    color: #fff;
    background-color: #393e49;
    text-align: center;
}
input, textarea, select:hover{
    background-color: #41315f;
}


.control-checkbox{
    font-size: .7em;
    display: flex;
    margin: 5px 0 ;
}
/* +++++++++++++++input-color-botones-boostrap */
.input-color{
    background-color: #41315f;
    font-size: .8em;
    outline: 0;
    border: 0;
}
.input-color:hover{
    background-color:#252935;
}


.button-nav{
    font-size: .8em;
    border-radius: 10%;
    background-color:#191e2b;
    color: #fff;
    border-style: none;
    padding: 5px;
    
}

.button-nav:hover{
    background-color: #41315f;
    padding: 5px;
}

/* +++++++++++++++++++
CONTENEDOR CENTRAL - MEME
+++++++++++++++++++ */

.contenedor-gral{
    background-image: url(/imagenes/dark-meme-evolucion-arte.jpg);
    background-size:contain;
    color: #fff;
    
}

.contenedor-meme{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.caja-meme{
    width: 100%;
    max-width: 590px;
    height: 590px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.text-superior{
    height: 10%;
    background-color: #fff;
    color: #000;
    top: 0%;
}
.text-inferior{
    height: 10%;
    background-color: #fff;
    color: #000;
    bottom: 0%;
}

.caja-imagen{
    height: 590px;
    max-width: 590px;
    stroke-width: 100%;
}

.panel-cambios{
    /* background-color: #252935;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 30%; */
    
    
}

.columna-cambios{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #252935;
    width: 260px;
    height: 100%;
    padding: 30px 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -10px 10px 100px 5px rgb(0 0 0 / 30%);
    z-index: 5;
}